body {
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.end {
    
    text-align: center;
    color: red;
    font-size: 100px;

}

.start {
    
    text-align: center;
    color: white;

}

.start ul{
    
    text-align: center;
    color: white;
    list-style: none;
}

.button-class {
    background-color: gray;
    border: none;
    color: black;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
}

/* You have come far, but the journey isn’t over yet... */
/* Look deeper into #winner-box */

#winner-box{
    content: "Last path: /final-flag.html"; /* Hidden next path */
    display: block; /* Ensures it's rendered */
    color: transparent; /* Makes text invisible */
    font-size: 0px; /* Hides it visually */
}

.wrong{
    text-align: center;
    color: white;
    font-size: 50px;
}